<style>
  body{
    background-color: #f2f2f2;
  }
  .forum-main-content{
    margin: 5% 10% 5% 10%;
  }
  .forum-content{
    margin: 5% 10% 5% 4%;
  }

  @media(max-width:476px){
    .forum-content, .forum-main-content{
      margin: 0% 10% 5% 10%;
    }
  }
  .jumbotron{
    margin: 5% 0% 3% 0%;
  }
  .jumbotron h1{
    font-size:2.3vw;
    font-weight: bold;
    color: #18654e;
  }
  .jumbotron p{
    font-size:1.3vw;
    padding-right: 35%;
  }
  @media(max-width:1450px){
      .jumbotron h1{
        font-size:3vw;
      }
      .jumbotron p{
        font-size:1.5vw;
      }
  }
  @media(max-width:1199px){
    .card-user{
        margin: 0% 0% 0% 0%;
    }
  }
  @media(max-width:991px){
      .jumbotron{
        margin: 15% 0% 0% 0%;
      }
      .jumbotron h1{
        font-size:7vw;
      }
      .jumbotron p{
        font-size:3.2vw;
      }
  }
  @media(max-width:476px){
      .jumbotron h1{
        font-size:10vw;
      }
      .jumbotron p{
        font-size:5vw;
      }
  }
  .col-lg-8 h1{
    color: #18654e;
    font-weight: bold;
  }
  .btn-card{
    margin: 2% 2% 2% 0%;
  }
  .btn{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color:#ffff;
    transition: none;
  }
  .btn:hover{
    background-color: #ffff;
    color:#18654e;
    transition: none;
  }
  .btn-edit{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color: #ffff;
    transition: none;
  }
  .btn-edit:hover{
    background-color: #ffff;
    color: #18654e;
    transition: none;
  }
  .btn-danger{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #dc3545;
    background-color: #dc3545;
    transition: none;
  }
  .btn-danger:hover{
    background-color: white;
    color:#dc3545;
    transition: none;
  }
  .btn-new{
    width:100%;
    height:40px;
  }
  .card{
    margin: 3% 3% 3% 3%;
  }
  @media(max-width:578px){
    .card{
      margin: 3% 0% 3% 0%;
    }
    .card-holder{
      justify-content: start !important;
    }
  }
  .btn-posts-card:hover, .btn-posts-card-delete:hover{
    color: rgba(0, 0, 0, 0.7) !important;
  }
  .btn-posts-card-delete{
    color: #dc3545 !important;
    border-style: none;
    background-color: transparent;
  }
  @media(max-width:991px){
    .btn-new{
      margin-top: 10%;
    }
  }
  @media(max-width:454px){
    .btn-new{
      margin-top: 10%;
    }
    .col-lg-4{
      justify-content: left !important;
    }
  }
  .first-project{
    margin-bottom: 2%;
    margin-bottom: 2%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: white;
    width: 100%;
  }
  .residents{
    margin: 7% 0% 7% 0%;
  }
  .first-project h1{
    margin: 5% 0% 0% 5%;
  }
  .first-project p:first-child{
    color: rgba(0, 0, 0, 0.55);
  }
  .first-project p{
    margin: 5% 15% 3% 5%;
    font-size:0.9vw;
  }
  .first-project a{
    margin-left: 5%;
  }
  @media(max-width:1622px){
    .first-project p{
      font-size:1.3vw;
    }
  }
  @media(max-width:1228px){
    .first-project p{
      font-size:1.5vw;
    }
  }
  @media(max-width:991px){
    .first-project p{
      font-size:2vw;
    }
  }
  @media(max-width:720px){
    .first-project p{
      font-size:2.4vw;
    }
  }
  @media(max-width:584px){
    .first-project p{
      font-size:3vw;
    }
  }
  @media(max-width:454px){
    .first-project p{
      font-size:4.5vw;
    }
  }
  .col-md-6 img{
    height: 100%;
    width: 100%;
  }
</style>
<div class="forum-main-content" >
    <!-- Jumbotron for Latest Projects -->
    <div class="text-left jumbotron">
        <h1>Welcome to the Admin Area!</h1>
        <br />
        <p>Create, edit, and delete tourist guide items and town's projects.</p>
    </div>
    <!--End Jumbotron -->
    <hr />
    <div class="row forum-content" >
        <div class="col-lg-8 p-0">
          <h1>Tourist Guide Items</h1>
        </div>
        <div class="col-lg-4 p-0 d-flex justify-content-start" >
          <div class="d-flex justify-content-start btn-posts">
              <%= link_to "Create a new item", new_tourist_guide_item_path, class: "btn btn-edit btn-new" %>
          </div>
        </div>
    </div>

    <!-- Cards for Tourist Guide Items -->
    <div class="card-container my-5">
        <div class="d-flex justify-content-center flex-wrap card-holder">
          <% current_user.tourist_guide_items.first(3).each do |item| %>
            <div class="card" style="width: 18rem;">
              <%= image_tag(item.image, class: "card-img-top image-fluid", alt: item.title) %>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title mt-3"><%= item.title %></h5>
                <p class="card-text"><%= item.description %></p>
                <div class="d-flex">
                  <%= link_to "Show", tourist_guide_path(item), class: "btn mx-1" %>
                  <%= link_to "Edit", edit_tourist_guide_item_path(item), class: "btn mx-1" %>
                  <%= button_to "Delete", tourist_guide_item_path(item), method: :delete, class: "btn btn-danger mx-1" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if current_user.tourist_guide_items.count > 3 %> 
          <div class="d-flex justify-content-end my-5">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target=".collapse1" aria-controls="collapseExample" aria-expanded="false" aria-label="Toggle cards">
                  Load More
              </button>
          </div>
          <div class="collapse collapse1 mt-5">
              <div class="d-flex justify-content-center flex-wrap card-holder">
                <% current_user.tourist_guide_items.slice(3, current_user.tourist_guide_items.count-3).each do |item| %>
                  <div class="card" style="width: 18rem;">
                    <%= image_tag(item.image, class: "card-img-top image-fluid", alt: item.title) %>
                    <div class="card-body d-flex flex-column justify-content-between">
                      <h5 class="card-title mt-3"><%= item.title %></h5>
                      <p class="card-text"><%= item.description %></p>
                      <div class="d-flex">
                        <%= link_to "Show", tourist_guide_path(item), class: "btn mx-1" %>
                        <%= link_to "Edit", edit_tourist_guide_item_path(item), class: "btn mx-1" %>
                        <%= button_to "Delete", tourist_guide_item_path(item), method: :delete, class: "btn btn-danger mx-1" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
        <% end %>
    </div>
    <!-- End Cards -->
    <!-- End Tourist Guide Items -->
    <hr />
    <div class="row forum-content" >
        <div class="col-lg-8 p-0">
          <h1>Town's Projects</h1>
        </div>
        <div class="col-lg-4 p-0 d-flex justify-content-start" >
          <div class="d-flex justify-content-center btn-posts">
              <%= link_to "Create a new project", new_project_path, class: "btn btn-edit btn-new" %>
          </div>
        </div>
    </div>

    <!-- Cards for Projects -->
    <div class="card-container my-5">
        <div class="d-flex justify-content-center flex-wrap card-holder">
          <% current_user.projects.first(4).each do |project| %>
            <div class="card" style="width: 18rem;">
              <%= image_tag(project.image, class: "card-img-top image-fluid", alt: project.title) %>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title mt-3"><%= project.title %></h5>
                <p class="card-text"><%= project.description %></p>
                <div class="d-flex">
                  <%= link_to "Show", latest_project_path(project), class: "btn mx-1" %>
                  <%= link_to "Edit", edit_project_path(project), class: "btn mx-1" %>
                  <%= button_to "Delete", project_path(project), method: :delete, class: "btn btn-danger mx-1" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if current_user.projects.count > 4 %>  
          <div class="d-flex justify-content-end my-5">
            <button class="btn btn-edit" type="button" data-bs-toggle="collapse" data-bs-target=".collapse2" aria-controls="collapseExample" aria-expanded="false" aria-label="Toggle cards">
                Load More
            </button>
          </div>
          <div class="collapse collapse2 mt-5">
              <div class="d-flex justify-content-center flex-wrap card-holder">
                <% current_user.projects.slice(4, current_user.projects.count-4).each do |project| %>
                  <div class="card" style="width: 18rem;">
                    <%= image_tag(project.image, class: "card-img-top image-fluid", alt: project.title) %>
                    <div class="card-body d-flex flex-column justify-content-between">
                      <h5 class="card-title mt-3"><%= project.title %></h5>
                      <p class="card-text"><%= project.description %></p>
                      <div class="d-flex">
                        <%= link_to "Show", latest_project_path(project), class: "btn mx-1" %>
                        <%= link_to "Edit", edit_project_path(project), class: "btn mx-1" %>
                        <%= button_to "Delete", project_path(project), method: :delete, class: "btn btn-danger mx-1" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
        <% end %>
    </div>
    <!-- End Cards -->
</div>