<style>
  body{
    background-color: #ede7dc;
  }
  .forum-content{
    margin: 4% 20% 5% 20%;
    padding: 2%;
    background-color: #f2f2f2;
  }
    .col-xl-8 h1{
    color:#18654e;
    margin-bottom: 7%;
    }
    .col-xl-8 p{
    font-size:1vw;
    margin-bottom:4%;
    }
    .col-xl-4{
      justify-content: center;
    }
  @media(max-width:1199px){
    .col-xl-4{
      justify-content: start
    }
  }
  @media(max-width:476px){
    .forum-content{
      margin: 0% 10% 5% 10%;
    }
  }
  .btn{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color:#ffff;
  }
  .btn:hover{
    background-color: #ffff;
    color:#18654e;
  }
  .comments-count{
    margin: 2% 0% 4% 0%;
  }
  .new-comment{
    padding: 4%;
  }
  .card-body h3{
    margin-bottom: 2%;
  }
  .card-body h5{
    margin: 4% 0% 4% 0%;
    color: #18654e;
  }
  @media(max-width:1450px){
      .col-xl-8 p{
        font-size:1.3vw;
      }
  }
  @media(max-width:1022px){
      .col-xl-8 p{
        font-size:1.9vw;
      }
    .forum-content{
        margin: 4% 10% 5% 10%;
    }
  }
  @media(max-width:810px){
      .col-xl-8 p{
        font-size:2.4vw;
      }
  }
  @media(max-width:576px){
      .col-xl-8 p{
        font-size:3vw;
      }
  }
  @media(max-width:448px){
      .col-xl-8 p{
        font-size:4vw;
      }
  }
</style>
<div class="forum-content" >
    <div class="row mx-0 mt-5" >
        <div class="col-xl-8 p-0">
            <h1><%= @post.title %></h1>
            <p><%= @post.description %></p>
            <p>By: <%= @post.user.name %> <%= @post.user.surname %></p>
        </div>
        <div class="col-xl-4 p-0 d-flex" >
            <div class="d-flex justify-content-center btn-posts">
                <p><%= @post.created_at.mday %>/<%= @post.created_at.month %>/<%= @post.created_at.year %></p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="comments-count">
        <% if @post.comments.count == 1 %>
            <h3><%= @post.comments.count %> Comment</h3>
        <% else %>
            <h3><%= @post.comments.count %> Comments</h3>
        <% end %>
    </div>
    <div class="card-container next-projects">
        <div class="d-flex flex-wrap">
            <% @post.comments.first(3).each do |comment| %>
                <div class="card mb-5" style="width: 100%;">
                    <div class="card-body">
                        <p><%= comment.created_at.mday %>/<%= comment.created_at.month %>/<%= comment.created_at.year %></p>
                        <h5 class="card-title"><%= comment.title %></h5>
                        <p>By: <%= comment.user.name %> <%= comment.user.surname %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <% if @post.comments.count > 3 %> 
      <div class="d-flex justify-content-center my-5 btn-posts">
          <button class="btn btn-edit" style="width:100%;" type="button" data-bs-toggle="collapse" data-bs-target=".collapse" aria-controls="collapseExample" aria-expanded="false" aria-label="Toggle cards">
              Load More
          </button>
      </div>
      <div class="collapse card-container next-projects">
          <div class="d-flex flex-wrap">
            <% @post.comments.slice(3, @post.comments.count-3).each do |comment| %>
                <div class="card mb-5" style="width: 100%;">
                    <div class="card-body">
                        <p><%= comment.created_at.mday %>/<%= comment.created_at.month %>/<%= comment.created_at.year %></p>
                        <h5 class="card-title"><%= comment.title %></h5>
                        <p>By: <%= comment.user.name %> <%= comment.user.surname %></p>
                    </div>
                </div>
            <% end %>
          </div>
      </div>
    <% end %>
    <% if current_user %>
        <div class="card mt-5 mb-3">
            <div class="card-body new-comment">
                <h3>Add your comments to this topic</h3>
                <%= form_with(model: @comment) do |form| %>
                        <% if @comment.errors.any? %>
                        <div style="color: red">
                            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this @comment from being saved:</h2>

                            <ul>
                            <% @comment.errors.each do |error| %>
                                <li><%= error.full_message %></li>
                            <% end %>
                            </ul>
                        </div>
                        <% end %>

                        <div class="form-group" >
                        <p>Comment</p>
                        <%= form.label :title, style: "display: none" %>
                        <%= form.text_field :title, class: "form-control", :required => true %>
                        </div>
                        <br/>
                        <div>
                        <%= form.label :post_id, style: "display: none" %>
                        <%= form.text_field :post_id, id: :post_user_id, value: @post.id, type: :hidden %>
                        </div>
                        <br/>
                        <div>
                        <%= form.label :user_id, style: "display: none" %>
                        <%= form.number_field :user_id, id: :post_user_id, value: current_user.id, type: :hidden %>
                        </div>
                        <div>
                        <%= form.submit  "Comment Post", class: "btn" %>
                        </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>