
<style>
  .button_to{
    padding: 0 !important;
  }
  .brand{
    padding-right: 1%;
  }

  .nav-item a:hover{
    color: black !important;
  }
  .container-fluid{
    margin: 0% 5% 0% 5%;
  }
  @media(max-width:815px){
    .container-fluid{
      margin: 0% 2.5% 0% 2.5%;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand ms-3" do %><%= image_tag "/logo.png", alt: "Web Page Logo", class: "img-fluid me-2" %><% end %><%= link_to "Littletown's Agora", root_path, class: "navbar-brand brand m-0" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 ">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active mt-1">
                <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item mt-1">
                <%= link_to "Tourist Guide", tourist_guide_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item mt-1">
                <%= link_to "Accommodations", accommodations_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown mt-1">
              <a class="nav-link dropdown-toggle me-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Residents Area
              </a>
              <ul class="dropdown-menu me-3" style="position: absolute !important" aria-labelledby="navbarDropdown">
                <li><%= link_to "Town's Projects", latest_projects_path, class: "dropdown-item" %></li>
                <li><%= link_to "Town's Forum", forum_index_path, class: "dropdown-item" %></li>
                <% if !user_signed_in? %>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to new_user_session_path, class: "dropdown-item" do %><i class="me-1 fa fa-user" aria-hidden="true" style="color:#18654e"></i>Log In<% end %></li>
                    <li><%= link_to new_user_registration_path, class: "dropdown-item" do %><i class="me-1 fa fa-user" aria-hidden="true" style="color:#18654e"></i>Sign Up<% end %></li>
                <% end %>
              </ul>
            </li>
            <% if user_signed_in? %>
                <% if current_user.user? %>
                    <li class="nav-item ms-2 me-3 mt-1 d-flex align-items-center">
                        <%= link_to my_area_index_path, class: "nav-link px-0" do %><i class="me-1 fa fa-user" aria-hidden="true" style="color:#18654e"></i><% end %><%= link_to "My Area", my_area_index_path, class: "nav-link px-0" %>
                    </li>
                <% elsif current_user.moderator? %>
                    <li class="nav-item ms-2 me-3 mt-1 d-flex align-items-center">
                        <%= link_to my_business_area_index_path, class: "nav-link px-0" do %><i class="me-1 fa fa-user" aria-hidden="true" style="color:#18654e"></i><% end %><%= link_to "My Business Area", my_business_area_index_path, class: "nav-link px-0" %>
                    </li>
                <% elsif current_user.admin? %>
                    <li class="nav-item ms-2 me-3 mt-1 d-flex align-items-center">
                        <%= link_to admin_area_index_path, class: "nav-link px-0" do %><i class="me-1 fa fa-user" aria-hidden="true" style="color:#18654e"></i><% end %><%= link_to "Admin Area", admin_area_index_path, class: "nav-link px-0" %>
                    </li>
                <% end %>
                <li class="nav-item pe-3 mt-2 d-flex align-items-center me-3">
                    <%= button_to "Sign Out", destroy_user_session_path, class: "nav-link bg-light ", method: :delete %>
                </li>
            <% end %>
        </ul>
    </div>
  </div>
</nav>