<style>
  body{
    background-color: #ede7dc;
  }
  .btn{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color:#ffff;
  }
  .btn:hover{
    background-color: #ffff;
    color:#18654e;
  }
  a{
    text-decoration: none;
    color: #18654e;
  }
  a:hover{
    color: rgba(0, 0, 0, 0.7);
  }
</style>
<% if resource.errors.any? %>
  <%= render "devise/shared/error_messages", resource: resource %>
<% end %>

<div class=" my-5 d-flex justify-content-center">
  <div class=" px-5 pb-5 pt-4" style="min-width: 30rem">
    <div class="card  mx-5 mt-5 mb-3">
      <div class="card-header">
        <h2>Forgot your password?</h2>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        
          <p class="text-left">Please enter your email address and we will send you a link to reset your password.</p>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
          </div>
          <br>
          <div class="form-group">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="ms-5">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>