<style>
  .carousel-item img{
      height: 27vw !important;
  }
  .left {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .left2 {
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .left3 {
    position: absolute;
    top: 28%;
    left: 39%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .carousel-title{
    font-size:2.3vw;
    margin-bottom: 1rem;
  }
  .carousel-text{
    font-size:1.45vw;
  }
  .carousel-body{
    padding: 0 0 0 1rem;
  }
  @media(max-width:1391px){
      .carousel-item img{
          height: 40vw !important;
      }
      .carousel-title{
        font-size:3vw;
        margin-bottom: 2rem;
      }
      .carousel-text{
        font-size:2vw;
      }
  }
  @media(max-width:831px){
      .carousel-item img{
          height: 70vw !important;
      }
      .carousel-title{
        font-size:5.5vw;
        padding-top:10%;
        margin-bottom: 2rem;
      }
      .carousel-text{
        font-size:3vw;
      }
      .carousel-card{
        width: 60vw !important;
        height: 75vw !important;
      }
      .left {
        left: 35%;
        top: 68%;
      }
      .left2 {
        top: 75% !important;
        left: 40% !important;
      }
      .left3 {
        top: 60% !important;
        left: 36% !important;
      }
  }
  @media(max-width:576px){
      .carousel-item img{
          height: 100vw !important;
      }
      .carousel-title{
        font-size:7vw;
        margin-bottom: 1rem;
      }
      .carousel-text{
        font-size:4.4vw;
      }
      .carousel-title-tourist{
        font-size:8vw;
      }
      .carousel-text-tourist{
        font-size:5vw;
      }
      .left {
        left: 35%;
        top: 45%;
      }
      .left2 {
        top: 47% !important;
        left: 40% !important;
      }
      .left3 {
        top: 40% !important;
        left: 39% !important;
      }
  }
  .jumbotron{
    margin: 4% 0% 0% 0%;
  }
  .jumbotron h1{
    font-size:3vw;
    font-weight: bold;
    color: #18654e;
    margin-bottom: 1rem;

  }
  .jumbotron p{
    font-size:1.2vw;
    margin-bottom: 0;
  }
  @media(max-width:1391px){
      .jumbotron{
        margin: 5% 0% 0% 0%;
      }
      .jumbotron h1{
        font-size:3.6vw;
      }
      .jumbotron p{
        font-size:2.5vw;
        margin: 0% 15% 0% 15%;
      }
  }
  @media(max-width:831px){
      .jumbotron{
        margin: 8% 0% 5% 0%;
      }
      .jumbotron h1{
        font-size:6vw;
      }
      .jumbotron p{
        font-size:3.6vw;
        margin: 0% 15% 0% 15%;
      }
  }
  @media(max-width:576px){
      .jumbotron{
        margin: 12% 0% 5% 0%;
      }
      .jumbotron h1{
        font-size:8vw;
      }
      .jumbotron p{
        font-size:4.7vw;
        margin: 0% 15% 0% 15%;
      }
  }
  .btn{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color:#ffff;
  }
  .btn:hover{
    background-color: #ffff;
    color:#18654e;
  }
  .btn-carousel{
    text-decoration: none;
    color:#ffff;
  }
  .btn-carousel:hover{
    color:#ffc107;
    transform: scale(1.2);
    transition: none;
  }
  .btn-img{
    transition: all .2s ease-in-out;
  }
  .btn-img:hover{
    transform: scale(1.04);
    transition: all .2s ease-in-out;
  }
  .card-container{
    margin-bottom: 4%;
  }
  .row{
    --bs-gutter-x: 0;
    margin-top: 3%;
  }
  .col-lg-6{
    background-color: #f2f2f2;
  }

  .col-lg-6 img{
    height: 100%;
    width: 100%;
  }
  .residents{
    padding: 9% 7% 0% 15%;
  }
  .residents h1{
    font-size:2.8vw;
    font-weight: bold;
    color: #18654e;
  }
  .residents p{
    font-size:1.3vw;
    margin: 5% 30% 1% 0%;
  }
  @media(max-width:1391px){
    .residents h1{
      font-size:3vw;
    }
    .residents p{
      font-size:1.5vw;
    }
    .residents{
      padding: 9% 7% 15% 15%;
    }
  }
  @media(max-width:991px){
    .residents{
      padding: 8% 20% 7% 20%;
    }
    .col-lg-6:first-child{
      order:2;
    }
    .col-lg-6:nth-child(2){
      order:1
    }
    .residents h1{
      font-size:4vw;
    }
    .residents p{
      margin: 5% 10% 5% 0%;
      font-size:2.6vw;
    }
  }
  @media(max-width:576px){
    .residents{
      padding: 12% 10% 10% 10%;
    }
    .residents h1{
      font-size:8vw;
    }
    .residents p{
      margin: 5% 10% 5% 0%;
      font-size:4vw;
    }
  }
</style>

<!-- Carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <picture>
        <source 
          class="d-block w-100 img-fluid" 
          style="width:100%; height:auto;"
          media="(min-width: 831px)"
          srcset="./home_hero.jpg">

        <source
          class="d-block w-100 img-fluid" 
          style="width:100%; height:auto;"
          media="(min-width: 465px)"
          srcset="./home_hero_tablet.jpg">

        <img 
          class="d-block w-100 img-fluid"
          style="width:100%; height:auto;"
          src="./home_hero_mobile.jpg" 
          alt="Littletown's landscape photo">
      </picture>
      <div class="card carousel-card left" style="width: 33vw;background: none !important; border:none !important">
        <div class="card-body carousel-body">
          <h5 class="card-title carousel-title">Welcome to Little Town</h5>
          <p class="card-text carousel-text">We are proud of our vibrant Little Town and its beautiful surroundings. Full of history, heritage, nature, and world-class hospitality, it's a very special place. We are eager to welcome you.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <picture>
        <source 
          class="d-block w-100 img-fluid" 
          style="width:100%; height:auto;"
          media="(min-width: 831px)"
          srcset="./tourist_guide_hero.jpg">

        <source
          class="d-block w-100 img-fluid" 
          style="width:100%; height:auto;"
          media="(min-width: 465px)"
          srcset="./tourist_guide_hero_tablet.jpg">

        <img 
          class="d-block w-100 img-fluid"
          style="width:100%; height:auto;"
          src="./tourist_guide_hero_mobile.jpg" 
          alt="Littletown's landscape photo">
      </picture>
      <div class="card carousel-card left2" style="width: 33vw;background: none !important; border:none !important">
        <div class="card-body carousel-body">
          <h5 class="card-title carousel-title carousel-title-tourist"><%= link_to "Tourist guide", tourist_guide_index_path(anchor: "tourist-guide-items"), class: "btn-carousel" %></h5>
          <p class="card-text carousel-text carousel-text-tourist">Whether you want to visit our historical landmarks, run wild in nature with the kids, or enjoy our markets and pubs, we have the perfect plan for you!</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <picture>
        <source 
          class="d-block w-100 img-fluid" 
          style="width:100%; height:auto;"
          media="(min-width: 831px)"
          srcset="./stay.jpg">

        <source
          class="d-block w-100 img-fluid" 
          style="width:100%; height:auto;"
          media="(min-width: 465px)"
          srcset="./stay_tablet.jpg">

        <img 
          class="d-block w-100 img-fluid"
          style="width:100%; height:auto;"
          src="./stay_mobile.jpg" 
          alt="Littletown's landscape photo">
      </picture>
      <div class="card carousel-card left3" style="width: 33vw;background: none !important; border:none !important">
        <div class="card-body carousel-body">
          <h5 class="card-title carousel-title"><%= link_to "Stay", tourist_guide_index_path(anchor: "tourist-guide-items"), class: "btn-carousel" %></h5>
          <p class="card-text carousel-text">Our town offers a great selection of high-quality accommodation, with options for everyone. Find luxury hotels in town, lovely countryside spots, and modern hostels.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Carousel -->

<!-- Jumbotron -->
<div class="text-center jumbotron">
    <h1>Planning your visit?</h1>
    <br />
    <p>Discover our town's favorite landmarks, restaurants and pubs.</p>
</div>
<!--End Jumbotron -->

<!-- Cards -->
<div class="card-container">
    <div class="d-flex justify-content-center flex-wrap">
        <div class="card m-5" style="width: 20rem;">
          <%= link_to tourist_guide_index_path(anchor: "tourist-guide-items"), class: "btn-img" do %><img class="card-img-top img-fluid" src="./home_columns_1.jpg" alt="Card image cap"> <% end%>
          <div class="card-body">
            <h5 class="card-title">Things to see and do</h5>
            <p class="card-text">Outdoor activities, cultural activities, markets, tours, activities for families, and more.</p>
            <%= link_to "Learn more", tourist_guide_index_path(anchor: "tourist-guide-items"), class: "btn" %>
          </div>
        </div>
        <div class="card m-5" style="width: 20rem;">
          <%= link_to tourist_guide_index_path(anchor: "restaurants-pubs"), class: "btn-img" do %><img class="card-img-top img-fluid" src="./home_columns_2.jpg" alt="Card image cap"> <% end%>
          <div class="card-body">
            <h5 class="card-title">Eat and drink</h5>
            <p class="card-text">Little Town is renowned for its lively bars, tasty restaurants and many live music venues.</p>
            <%= link_to "Learn more", tourist_guide_index_path(anchor: "restaurants-pubs"), class: "btn" %>
          </div>
        </div>
        <div class="card m-5" style="width: 20rem;">
          <%= link_to accommodations_path, class: "btn-img" do %><img class="card-img-top img-fluid" src="./home_columns_3.jpg" alt="Card image cap"> <% end%>
          <div class="card-body">
            <h5 class="card-title">Where to stay</h5>
            <p class="card-text">We enjoy a beautiful array of historical places to stay, and we are looking forward to welcoming you.</p>
            <%= link_to "Learn more", accommodations_path, class: "btn" %>
          </div>
        </div>
    </div>
</div>
<!-- End Cards -->

<div class="row">
    <div class="col-lg-6 p-0">
      <img src="./home_lower_image.jpg" class="img-fluid"/>
    </div>
    <div class="col-lg-6 p-0">
      <div class="residents">
        <h1>Area for residents</h1>
        <p>We encourage you to check out the latest news and projects of our Little Town, and to participate in our Forum discussion. This area is reserved for residents only.</p>
        <%= link_to "Latest Town's Projects", latest_projects_path, class: "btn mt-4 me-4" %>
        <%= link_to "Town's Forum", forum_index_path, class: "btn mt-4" %>
      </div>
    </div>
</div>
