<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag(project.image) %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= project.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= project.longitude %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user_id %>
  </p>

</div>
