<style>
  body{
    background-color: #f2f2f2;
  }
  .forum-content{
    margin: 0% 10% 5% 10%;
  }

  @media(max-width:1199px){
    .col-xl-8{
      order: 2;
    }
    .col-xl-4{
      order: 1;
    }
  }
  @media(max-width:476px){
    .forum-content{
      margin: 0% 10% 5% 10%;
    }
  }
  .jumbotron{
    margin: 9% 0% 6% 0%;
  }
  .jumbotron h1{
    font-size:2.3vw;
    font-weight: bold;
    color: #18654e;
  }
  .jumbotron p{
    font-size:1.3vw;
    padding-right: 35%;
  }
  @media(max-width:1450px){
      .jumbotron h1{
        font-size:3vw;
      }
      .jumbotron p{
        font-size:1.5vw;
      }
  }
  @media(max-width:1199px){
    .card-user{
        margin: 0% 0% 0% 0%;
    }
  }
  @media(max-width:991px){
      .jumbotron{
        margin: 15% 0% 0% 0%;
      }
      .jumbotron h1{
        font-size:7vw;
      }
      .jumbotron p{
        font-size:3.2vw;
      }
  }
  @media(max-width:476px){
      .jumbotron h1{
        font-size:10vw;
      }
      .jumbotron p{
        font-size:5vw;
      }
  }
  .card-user{
    margin: 15% 0% 5% 25%;
    padding: 2% 1% 3% 1%;
  }
  @media(max-width:1199px){
    .card-user{
        margin: 7% 0% 0% 0%;
        padding: 2% 1% 3% 1%;
    }
  }
  .btn-card{
    margin: 2% 2% 2% 0%;
    width: 100%;
  }
  .btn-edit{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color: #ffff;
    width:100%;
  }
  .btn-edit:hover{
    background-color: #ffff;
    color: #18654e;
  }
  .btn-danger{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #dc3545;
  }
  .btn-danger:hover{
    background-color: white;
    color:#dc3545;
  }
  .residents a{
    text-decoration: none;
    color: #18654e;
    font-size:0.9vw;
  }
  .btn-posts-card:hover, .btn-posts-card-delete:hover{
    color: #ffc107 !important;
  }
  .btn-posts-card-delete{
    color: #dc3545 !important;
    border-style: none;
    background-color: transparent;
  }
  .image-fluid{
    width: 100%;
    height: 100%
  }
  @media(max-width:1622px){
    .residents a{
      font-size:1.3vw;
    }
  }
  @media(max-width:1242px){
    .residents a{
      font-size:1.5vw;
    }
  }
  @media(max-width:991px){
    .residents a{
      font-size:2.1vw;
    }
  }
  @media(max-width:720px){
    .residents a{
      font-size:2.3vw;
    }
  }
  @media(max-width:578px){
    .residents a{
      font-size:2.7vw;
    }
  }
  @media(max-width:454px){
    .residents a{
      font-size:4vw;
    }
  }
  .first-project{
    margin: 4% 0% 1% 0%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: white;
    width: 100%;
  }
  .residents{
    margin: 7% 0% 7% 0%;
  }
  .first-project h1{
    margin: 5% 0% 0% 5%;
  }
  .first-project p:first-child{
    color: rgba(0, 0, 0, 0.55);
  }
  .first-project p{
    margin: 5% 15% 3% 5%;
    font-size:0.9vw;
  }
  .first-project a{
    margin-left: 5%;
  }
  @media(max-width:1622px){
    .first-project p{
      font-size:1.3vw;
    }
  }
  @media(max-width:1228px){
    .first-project p{
      font-size:1.5vw;
    }
  }
  @media(max-width:991px){
    .first-project p{
      font-size:2vw;
    }
  }
  @media(max-width:720px){
    .first-project p{
      font-size:2.4vw;
    }
  }
  @media(max-width:584px){
    .first-project p{
      font-size:3vw;
    }
  }
  @media(max-width:454px){
    .first-project p{
      font-size:4.5vw;
    }
  }
</style>
<div class="row forum-content" >
    <div class="col-xl-8 p-0">
        <!-- Jumbotron for Latest Projects -->
        <div class="text-left jumbotron">
            <h1>Welcome to your business area!</h1>
            <br />
            <p>As a business owner of Little Town, you may use this area to create and edit your businesses' presence on the town's website.</p>
        </div>
        <!--End Jumbotron -->
        <div class="d-flex justify-content-center my-5 btn-posts">
            <%= link_to "Create a new business", new_business_path, class: "btn btn-edit" %>
        </div>
        <!--Card for fisrt project -->
        <% current_user.businesses.each do |business| %>
        <div class="row first-project">
            <div class="col-md-6 p-0">
              <%= image_tag(business.image, class: "image-fluid", alt: business.title) %>
            </div>
            <div class="col-md-6 p-0">
              <div class="residents">
                <p><%= business.created_at.mday %>/<%= business.created_at.month %>/<%= business.created_at.year %></p>
                <h1><%= business.title %></h1>
                <p><%= business.description %></p>
                <div class="d-flex">
                  <%= link_to "Show", accommodation_path(business), class: "btn-posts-card" %>
                  <%= link_to "Edit", edit_business_path(business), class: "btn-posts-card" %>
                  <%= button_to "Delete", business_path(business), method: :delete, class: "btn-posts-card-delete ms-4" %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
    </div>
    <div class="col-xl-4 p-0 d-flex justify-content-center" >
        <div class="card card-user text-center" style="width: 20rem; height: 18rem">
          <div class="card-body">
            <h3 class="card-title my-3"><%= current_user.name %> <%= current_user.surname %></h3>
            <p class="card-text mt-3">Business owner of Little Town</p>
            <p class="card-text pt-3 mb-4"><%= current_user.email %></p>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link", class: "btn btn-edit btn-card" %>
          </div>
        </div>
    </div>
</div>