<style>
  body{
    background-color: #ede7dc;
  }
  .btn{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color:#ffff;
    transition: none;
  }
  .btn:hover{
    background-color: #ffff;
    color:#18654e;
    transition: none;
  }
  a{
    text-decoration: none;
    color: #18654e;
  }
  a:hover{
    color: rgba(0, 0, 0, 0.7);
  }
  @media(max-width:512px){
    .card{
      margin-left: 5% !important;
      margin-right: 5% !important;
    }
    .shared-links{
    margin-left: 5% !important;

    }
  }
  .new-comment{
    padding: 4%;
  }
  .alert{
    margin: 0 !important;
  }
</style>

<div class=" my-5 d-flex justify-content-center">
  <div class="px-5 pb-5 pt-4" style="min-width: 30rem;">
    <div class="card mt-5 mb-3">
      <div class="card-header">
        <h2>Log in</h2>
      </div>
      <br/>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <br/>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@email.com" %>
          </div>
          <br/>
          <div class="field form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Your password" %>
          </div>
          <br/>
          <div class="actions">
            <%= f.submit "Log in", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
    <br/>
    <div class="shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>