<style>
  body{
    background-color: #ede7dc;
  }
  .btn{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color:#ffff;
  }
  .btn:hover{
    background-color: #ffff;
    color:#18654e;
  }
  a{
    text-decoration: none;
    color: #18654e;
  }
  a:hover{
    color: #ffc107;
  }
  .dropdown select{
    border-style: solid;
    border-radius: 5px;
    border-width:2px;
    border-color: #18654e;
    background-color: #18654e;
    color:#ffff;
    margin-top:1%;
  }
  @media(max-width:512px){
    .card{
      margin-left:0 !important;
      margin-right:0!important;
    }
    .ms-5{
    margin-left:1% !important;

    }
  }
</style>

<div class=" my-5 d-flex justify-content-center">
  <div class=" px-5 pb-5 pt-4" style="width: 45rem;">
    <div class="card  mx-5 mt-5 mb-3">
      <div class="card-header">
        <h2>Edit Post</h2>
      </div>
      <div class="card-body">
        <%= form_with(model: @post) do |form| %>
                <% if @post.errors.any? %>
                  <div style="color: red">
                    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this @post from being saved:</h2>

                    <ul>
                      <% @post.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group" >
                  <%= form.label :title, style: "display: block" %>
                  <%= form.text_field :title, class: "form-control", :required => true %>
                </div>
                <br/>
                <div class="form-group">
                  <%= form.label :description, style: "display: block" %>
                  <%= form.text_field :description, class: "form-control", :required => true %>
                </div>
                <br/>
                <div class="form-group">
                  <%= form.label :user_id, style: "display: none" %>
                  <%= form.number_field :user_id, id: :tourist_guide_item_user_id, value: current_user.id, type: :hidden %>
                </div>
                <div>
                  <%= form.submit  "Edit Post", class: "btn" %>
                </div>
                <br/>
        <% end %>
        <div>
          <%= link_to "Back to My Area", my_area_index_path %>
        </div>
      </div>
    </div>
  </div>
</div>