<style>
  body{
    background-color: #ede7dc;
  }
  .latest-projects-content{
    margin: 0% 20% 0% 20%;
  }
  .image-fluid{
    width: 100%;
    height: 100%;
  }
  @media(max-width:1600px){
    .latest-projects-content{
      margin: 0% 15% 0% 15%;
    }
  }
  @media(max-width:1040px){
    .latest-projects-content{
      margin: 0% 7% 0% 7%;
    }
  }
  .jumbotron{
    margin: 8% 0% 6% 0%;
  }
  .jumbotron h1{
    font-size:2.3vw;
    font-weight: bold;
    color: #18654e;
  }
  .jumbotron p{
    font-size:1.2vw;
    margin-right: 45%;
  }
  @media(max-width:1462px){
  .jumbotron{
    margin: 10% 0% 7% 0%;
  }
    .jumbotron h1{
      font-size:3vw;
    }
    .jumbotron p{
      font-size:1.5vw;
    }
  }
  @media(max-width:991px){
    .jumbotron h1{
      font-size:5vw;
    }
    .jumbotron p{
      font-size:2.1vw;
    }
  }
  @media(max-width:672px){
    .jumbotron h1{
      font-size:7vw;
    }
    .jumbotron p{
      font-size:3vw;
    }
  }
  @media(max-width:454px){
    .jumbotron{
      padding-right: 3%;
      padding-left: 3%;
    }
    .jumbotron h1{
      font-size:9vw;
    }
    .jumbotron p{
      font-size:4.5vw;
      margin-right: 5%;
    }
  }
  .first-project{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: white;
  }
  .residents{
    margin: 7% 0% 7% 0%;
  }
  .first-project h3{
    margin: 5% 0% 0% 5%;
  }
  .first-project p:first-child{
    color: rgba(0, 0, 0, 0.55);
  }
  .first-project p{
    margin: 5% 15% 3% 5%;
    font-size:0.9vw;
  }
  .residents a{
    margin-left: 5% !important;
  }
  .row{
    --bs-gutter-x: 0 !important;
  }
  .btn-img{
    transition: all .2s ease-in-out;
  }
  .btn-img:hover{
    transform: scale(1.04);
    transition: all .2s ease-in-out;
  }
  .col-md-6 a{
    margin-left: 0;
  }
  @media(max-width:1622px){
    .first-project p{
      font-size:1.3vw;
    }
  }
  @media(max-width:1371px){
    .latest-projects-content{
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    .first-project{
      display:flex;
      flex-direction: column;
      margin-right: 0 !important;
      max-width: 80% !important;
    }
    .next-projects{
      display:flex;
      margin-right: 0 !important;
      max-width: 80% !important;
    }
    .col-md-6:first-child{
      order:2;
    }
    .col-md-6:nth-child(2){
      order:1;
    }
    .first-project div{
      width: 100%;
    }
    .first-project p{
      font-size:1.2vw;
      margin-top:1rem;
    }
    .first-project h1{
      font-size:2vw;
      margin-top:0;
    }
    .residents{
      margin: 3% 0% 3% 0%;
    }
  }
  @media(max-width:1040px){
    .first-project p{
      font-size:1.7vw;
      margin-top:1rem;
    }
    .first-project h1{
      font-size:2.3vw;
    }
  }
  @media(max-width:991px){
    .first-project{
      max-width: 100% !important;
    }
    .next-projects{
      max-width: 100% !important;
    }
  }
  @media(max-width:859px){
    .first-project h1{
      font-size:2.4vw;
    }
    .first-project p{
      font-size:2.33vw;
    }
  }
  @media(max-width:724px){
    .first-project h1{
      font-size:2.6vw;
    }
  }
  @media(max-width:666px){
    .first-project h1{
      font-size:3vw;
    }
  }
  @media(max-width:596px){
    .first-project h1{
      font-size:3.2vw;
    }
    .first-project p{
      font-size:2.5vw;
    }
  }
  @media(max-width:550px){
    .first-project h1{
      font-size:5vw;
    }
    .first-project p{
      font-size:4vw;
    }
  }
  .next-projects{
    margin: 5% 0% 5% 0%;
  }
  @media(max-width:1371px){
      .card{
        width: 100% !important;
        margin-right: 0% !important;
      }
  }
  .card-body{
    margin: 3% 0% 0% 3%;
  }
  .card-body p:first-child{
    color: rgba(0, 0, 0, 0.55);
  }
  .card-body a, .residents a, .map-button, .leaflet-container a{
    text-decoration: none;
    color: #18654e;
    font-size:0.9vw;
  }
  .card-body a:hover, .residents a:hover, .map-button:hover{
    color: #ffc107;
  }
  @media(max-width:1622px){
    .card-body a, .residents a{
      font-size:1.3vw;
    }
  }
  @media(max-width:1242px){
    .card-body a, .residents a{
      font-size:1.5vw;
    }
  }
  @media(max-width:991px){
    .card-body a, .residents a{
      font-size:2.1vw;
    }
  }
  @media(max-width:768px){
    .card-body a, .residents a{
      font-size:2.3vw;
    }
  }
  @media(max-width:578px){
    .card-body a, .residents a{
      font-size:2.7vw;
    }
  }
  @media(max-width:454px){
    .card-body a, .residents a{
      font-size:5vw;
    }
  }
  #map {
      height: 600px;
      width: 100%;
  }
</style>

<div class="latest-projects-content" >

  <!-- Jumbotron for Latest Projects -->
  <div class="text-left jumbotron">
      <h1>Latest Projects in Little Town</h1>
      <br />
      <p>Discover the latest news from Little Town, from upcoming events to new developments and changes happening in our town.</p>
  </div>
  <!--End Jumbotron -->

  <!--Card for fisrt project -->
  <% @projects.first(1).each do |project| %>
    <div class="row first-project me-5">
        <div class="col-md-6">
          <%= link_to latest_project_path(project) do %><%= image_tag(project.image, class: "btn-img image-fluid", alt: project.title) %><% end %>
        </div>
        <div class="col-md-6">
          <div class="residents">
            <p><%= project.created_at.mday %>/<%= project.created_at.month %>/<%= project.created_at.year %></p>
            <h3><%= project.title %></h3>
            <p><%= project.description %></p>
            <%= link_to "Read more", latest_project_path(project) %>
          </div>
        </div>
    </div>
  <% end %>
  <!-- Card for fisrt project -->

  <!-- Cards for next projects -->
  <div class="card-container next-projects">
      <div class="d-flex flex-wrap justify-content-between">
          <% @projects.slice(1,4).each do |project| %>
            <div class="card me-5 mb-5" style="width: 45%;">
              <div class="card-body">
                <p><%= project.created_at.mday %>/<%= project.created_at.month %>/<%= project.created_at.year %></p>
                <h5 class="card-title"><%= project.title %></h5>
                <p class="card-text"><%= project.description %></p>
                <%= link_to "Read more", latest_project_path(project) %>
              </div>
              <%= link_to latest_project_path(project), class: "btn-img" do %><%= image_tag(project.image, class: "card-img-top image-fluid", alt: project.title) %><% end %>
            </div>
          <% end %>
      </div>
  </div>
  <!-- End Cards for next projects -->
    <% if @projects.count > 5 %> 
      <div class="d-flex justify-content-center my-5 btn-posts">
          <button class="btn btn-edit" style="width:100%;" type="button" data-bs-toggle="collapse" data-bs-target=".collapse" aria-controls="collapseExample" aria-expanded="false" aria-label="Toggle cards">
              Load More
          </button>
      </div>
      <div class="collapse card-container next-projects">
          <div class="d-flex flex-wrap justify-content-between">
            <% @projects.slice(4, @projects.count-4).each do |project| %>
              <div class="card me-5 mb-5" style="width: 45%;">
                <div class="card-body">
                  <p><%= project.created_at.mday %>/<%= project.created_at.month %>/<%= project.created_at.year %></p>
                  <h5 class="card-title"><%= project.title %></h5>
                  <p class="card-text"><%= project.description %></p>
                  <%= link_to "Read more", latest_project_path(project) %>
                </div>
                <%= link_to latest_project_path(project), class: "btn-img" do %><%= image_tag(project.image, class: "card-img-top", alt: project.title) %><% end %>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
</div>

<!-- Jumbotron for Maps -->
<div class="text-center jumbotron">
    <h1>Find your way</h1>
    <br />
    <p>Check the location of the latest projects.</p>
</div>
<!--End Jumbotron -->
<div id="map"></div>

<script>
    var map = L.map('map', {gestureHandling: true}).setView([53.273665, -6.854582], 15);
</script>

<script>
    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var greenIcon = L.icon({
        iconUrl: '../location.png',
        iconSize:     [50, 50], // size of the icon
        popupAnchor:  [0, -25] // point from which the popup should open relative to the iconAnchor
    });

</script>

<% @projects.each do |projects| %>
    <script>
        L.marker(['<%= projects.latitude %>', '<%= projects.longitude %>'], {icon: greenIcon}).addTo(map).bindPopup('<%= link_to latest_project_path(projects), class: "map-button" do %><h5 class="mt-4"><%= projects.title %></h5><p class="mb-0">Address:</p><p class="mt-0"><span id="address"><%= projects.address %><span></p><% end %>');
    </script>
<% end %>