<style>
  .latest-projects-content{
    margin: 0% 15% 0% 15%;
  }
  @media(max-width:1040px){
    .latest-projects-content{
      margin: 0% 7% 0% 7%;
    }
  }
  a{
    text-decoration: none;
    color: #18654e;
  }
  a:hover{
    color: #ffc107;
  }
  span{
    color: #18654e;
  }
  .first-project{
    margin: 4% 0% 5% 0%;
    background-color: white;
    width: 100%;
  }
  .residents{
    margin: 7% 0% 7% 0%;
  }
  .first-project img{
    width: 100%;
    margin-left: 2rem;
  }
  .first-project h1{
    margin-top: 5%;
  }
  .first-project p:first-child{
    color: rgba(0, 0, 0, 0.55);
  }
  .first-project p{
    font-size:0.9vw;
    margin: 5% 10% 0% 0%;
  }
  .breadcrum{
    font-size:0.9vw;
    padding-right: 2rem;
  }
  .residents h1 {
    font-size:1.6vw !important;
    margin-right: 2rem;
  }
  @media(max-width:1228px){
    .residents h1 {
      font-size:1.5vw !important;
    }
    .first-project p, .breadcrum{
      font-size:1.2vw;
    }
  }

  @media(max-width:991px){
    .first-project p, .breadcrum{
      font-size:1.4vw;
    }
  }
  @media(max-width:767px){
    .residents h1 {
      font-size:3vw !important;
    }
    .first-project p, .breadcrum{
      font-size:2.4vw;
    }
    .first-project img {
      margin-left: 0;
    }
  }
  @media(max-width:584px){
    .residents h1 {
      font-size:4vw !important;
    }
  }
  @media(max-width:441px){
    .residents h1 {
      font-size:6vw !important;
    }
    .first-project p, .breadcrum{
      font-size:3.7vw;
    }
  .first-project{
    margin: 4% 0% 15% 0%;
  }
  }
  .jumbotron{
    margin: 5% 0% 1% 0%;
  }
  .jumbotron h3{
    font-size:1.8vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
    text-align: left;

  }

  @media(max-width:815px){
      .jumbotron{
        margin: 8% 0% 0% 0%;
      }
      .jumbotron h3{
        font-size:5vw;
      }
  }
  #map {
      height: 600px;
      width: 100%;
      margin-bottom: 5%;
  }
</style>
<div class="latest-projects-content" >
  <!--Card for fisrt project -->
  <div class="row first-project">
      <div class="col-md-6 p-0">
        <div class="residents">
          <div class="d-flex breadcrum"><%= link_to "Town's Projects", latest_projects_path %><span class="mx-3">/</span><%= @project.title %></div>
          <h1><%= @project.title %></h1>
          <p><%= @project.description %></p>
        </div>
      </div>
      <div class="col-md-6 p-0 d-flex align-items-center justify-conten-center">
        <%= image_tag(@project.image, class: "image-fluid", alt: @project.title) %>
      </div>
  </div>
  <!-- Card for fisrt project -->
  <!-- Jumbotron for Maps -->
  <div class="text-center jumbotron mb-5">
      <h3>See its location</h3>
  </div>
  <!--End Jumbotron -->
  <div id="map" class="mb-5"></div>
</div>


<script>
    var map = L.map('map', {gestureHandling: true}).setView(['<%= @project.latitude %>', '<%= @project.longitude %>'], 15);
</script>

<script>
    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var greenIcon = L.icon({
        iconUrl: '../location.png',
        iconSize:     [50, 50], // size of the icon
        popupAnchor:  [0, -25] // point from which the popup should open relative to the iconAnchor
    });
    L.marker(['<%= @project.latitude %>', '<%= @project.longitude %>'], {icon: greenIcon}).addTo(map).bindPopup('<h5><%= @project.title %></h5>');

</script>