<div id="<%= dom_id tourist_guide_item %>">
  <p>
    <strong>Title:</strong>
    <%= tourist_guide_item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tourist_guide_item.description %>
  </p>

  <p>
    <strong>Photo path:</strong>
    <%= tourist_guide_item.photo_path %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= tourist_guide_item.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= tourist_guide_item.longitude %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tourist_guide_item.user_id %>
  </p>

</div>
