<p style="color: green"><%= notice %></p>

<%= render @tourist_guide_item %>

<div>
  <%= link_to "Edit this tourist guide item", edit_tourist_guide_item_path(@tourist_guide_item) %> |
  <%= link_to "Back to tourist guide items", tourist_guide_items_path %>

  <%= button_to "Destroy this tourist guide item", @tourist_guide_item, method: :delete %>
</div>
